<header id="header">
    {{ if not (.Site.Params.disableLogo | default false) }}
    <div class="logo">
        {{ if .Site.Params.logoImage | default "" }}
            <img src="{{ (printf "images/%s" .Site.Params.logoImage) | absURL }}" width="100%">
        {{ else }}
            <span class="icon fa-{{ .Site.Params.logoIcon | default "gem" }}"></span>
        {{ end }}
    </div>
    {{ end }}
    <div class="content">
        <div class="inner">
            {{ if .Site.IsMultiLingual }}
                {{ $defaultLanguage := (index (sort .Site.Languages "Weight") 0).Lang }}
                {{ .Scratch.Set "currentTranslation" (index (where .AllTranslations "Lang" .Lang) 0) }}
                {{ if eq (.Scratch.Get "currentTranslation").File.TranslationBaseName "" }}
                    {{ .Scratch.Set "currentTranslation" (index (where .AllTranslations "Lang" $defaultLanguage) 0) }}
                {{ end }}
            {{ end }}

            {{- with or (.Scratch.Get "currentTranslation") . -}}
            <h1>{{ .Title }}</h1>
            <p>{{ .Content | markdownify }}</p>
            {{ end }}
        </div>
    </div>
    <nav>
        <ul>
            {{ range (.Pages | lang.Merge .Sites.First.RegularPages) }}
                {{ if .Params.showInMenu | default true }}
                <li><a
                        {{ printf "href=\"%s\"" (or (.Params.menuLink) (printf "#%s" ( .File.TranslationBaseName ))) | safeHTMLAttr }}
                    >
                    {{- or .Params.menuTitle .Title -}}
                    </a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </nav>
</header>
