{{ with .Site.Params.titleFontSize }}
#header h1 {
    font-size: {{.}};
}
{{ end }}

{{ with .Site.Params.subtitleFontSize }}
#header .content p {
    font-size: {{.}};
}
{{ end }}

{{ with .Site.Params.baseFontSize }}
body {
    font-size: {{.}};
}
{{ end }}

{{ with .Site.Params.overlayOpacityPercentage }}
#bg:before {
    {{ $opacity := div (int .) 100.0 }}
    background-image: linear-gradient(to top,rgba(19,21,25,{{$opacity}}),rgba(19,21,25,{{$opacity}})),
                      url("{{ $.Site.BaseURL }}/images/overlay.png");
}
{{ end }}

{{ if (.Site.Params.disableImageOverlay | default false) }}
.image:before {
    content: none;
}
{{ end }}

{{ if (.Site.Params.disableLogo | default false) }}
#header .content {
    border-top-width: 0px;
}
{{ end }}

{{ with .Site.Params.modalWidth }}
#main article {
    width: {{.}};
}
{{ end }}
